* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .box {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 499px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .image-qr-code {
    width: 288px;
    height: 288px;
    border-radius: 20px;
  }
  .container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  p span {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: hsl(218, 44%, 22%);
  }
  p {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
  }